aclocal.m4
autom4te.cache
Makefile
Makefile.in
configure
config.cache
config.guess
config.log
config.status
config.sub
depcomp
install-sh
missing
mkinstalldirs
*.o
*.a
fb303
/debian/*-stamp
/debian/*.debhelper*
/debian/*.substvars
/debian/files
/debian/scribe/
