Source: scribe
Section: net
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Chris Goffinet <cg@chrisgoffinet.com>, Ian Eure <ian@simplegeo.com>, Sandro Tosi <sandro.tosi@register.it>
Build-Depends: debhelper (>= 5),
 automake,
 autotools-dev,
 default-jdk,
 libboost-dev (>= 1.40),
 libboost-filesystem-dev (>= 1.40),
 libevent-dev,
 libfb303-dev,
 libthrift-dev,
 python,
 python-support,
 thrift-compiler,
 libhdfs-dev
Standards-Version: 3.8.4

Package: scribe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 daemontools,
 default-jre-headless,
 libfb303,
 libhdfs1,
 libthrift0,
 openjdk-7-jre | openjdk-6-jre | java7-runtime | java6-runtime
Description: Facebook's distributed, streaming log server
 Scribe is a server for aggregating log data streamed in real time
 from a large number of servers. It is designed to be scalable,
 extensible without client-side modification, and robust to failure of
 the network or any specific machine.
